@model List<ERP_Document.ViewModel.DepartmentViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Phòng ban
        <small>Danh sách</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#">Phòng ban</a></li>
        <li class="active">Danh sách phòng ban</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Bảng danh sách phòng ban</h3>
                </div>             
                <a href="/Department/Create" style="margin-left:10px" class="btn btn-sm btn-success">Thêm mới</a>
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Số thứ tự</th>
                                <th>Tên phòng ban</th>
                                <th>Nghiệp vụ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 0;
                                foreach (var item in Model)
                                {
                                    i++;
                                    <tr>
                                        <td>@i</td>
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>@item.Description</td>
                                        <td>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Số thứ tự</th>
                                <th>Tên phòng ban</th>
                                <th>Nghiệp vụ</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

