
<footer class="main-footer">
    @{

        <div class="pull-right hidden-xs">
            @DateTime.Now.ToString("dd/MM/yyyy")
        </div>
    }

    <strong>Trang công văn điện tử &copy; 2021</strong>
</footer>